@media screen and (max-width: 450px) {
    body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
        background-color: white;
        width: auto;
    }

    article {
        max-width: 100%;
        margin-right: 50px;
        margin-left: 50px;
        border: 1px solid gray;
        text-align: left;
        padding: 10px;
    }

    img {
        max-width: 85%;
        margin-right: 50px;
        margin-left: 50px;
    }

    section.s1 {
        display: inline;
        width: 100%;

    }

    section.s2 {
        display: inline;
        width: 100%;

    }

    a {
        color: white;
        background-color: forestgreen;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
    }

    div.titel {
        color: white;

    }

    header {
        text-align: center;
        background-color: #1f2438;
    }

    nav {
        display: inline;
        background-color: forestgreen;
        padding: 10px;
        margin-top: 10px;
        width: 100%;
    }

    h3 {
        color: grey;
    }

    h4 {
        color: grey;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {

    }

    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: white;
    }

    a:hover {
        background-color: black;
    }

    article.t2, article.t3 {
        text-align: center;
        max-width: 30%;
        margin: auto;
    }

    article.P {
        float: left;
    }

    article.N {
        float: right;
    }

    article.C {
        text-align: center;
        border-color: white;
    }
}
@media screen and (min-width: 450px) {
    body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
        background-color: white;
        width: auto;
    }

    article {
        max-width: 100%;
        margin-right: 50px;
        margin-left: 50px;
        border: 1px solid gray;
        text-align: left;
        padding: 10px;
    }

    img {
        max-width: 85%;
        margin-right: 50px;
        margin-left: 50px;
    }

    section.s1 {
        display: inline;
        width: 100%;

    }

    section.s2 {
        display: inline;
        width: 100%;

    }

    a {
        color: white;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
    }

    div.titel {
        color: white;

    }

    header {
        text-align: center;
        background-color: gray;
    }

    nav {
        display: inline;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        width: 100%;
    }

    h3 {
        color: grey;
    }

    h4 {
        color: grey;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {

    }

    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: white;
    }

    a:hover {
        background-color: black;
    }

    article.t2, article.t3 {
        text-align: center;
        margin: auto;
    }

    article.P {
        float: left;
    }

    article.N {
        float: right;
    }

    article.C {
        text-align: center;
        border-color: white;
    }
}

@media screen and (min-width: 480px) {
    body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
        background-color: white;
        width: auto;
        display: inline-block;
    }

    article {
        max-width: 100%;
        margin-left: 50px;
        border: 1px solid gray;
        text-align: left;
        padding: 10px;
    }

    img {
        max-width: 85%;
        margin-right: 50px;
        margin-left: 50px;
    }

    section.s1 {
        display: inline;
        width: 70%;
        float: left;

    }

    section.s2 {
        display: inline;
        width: 30%;
        float: right;

    }

    a {
        color: white;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
    }

    div.titel {
        color: white;

    }

    header {
        text-align: center;
        background-color: gray;
    }

    nav {
        display: inline;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        width: 100%;
    }

    h3 {
        color: grey;
    }

    h4 {
        color: grey;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {

    }

    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: white;
    }

    a:hover {
        background-color: black;
    }

    article.t2, article.t3 {
        text-align: center;
        margin: auto;
    }

    article.P {
        float: left;
    }

    article.N {
        float: right;
    }

    article.C {
        text-align: center;
        border-color: white;
    }

}

@media screen and (min-width: 880px) {
    body {
        font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
        background-color: white;
        width: auto;
        display: inline-block;
    }

    article {
        max-width: 1000px;
        margin-left: 50px;
        border: 1px solid gray;
        text-align: left;
        padding: 10px;
    }

    img {
        max-width: 85%;
        margin-right: 50px;
        margin-left: 50px;
    }

    section.s1 {
        display: inline;
        width: 50%;
        float: none;


    }

    section.s2 {
        display: inline;
        width: 20%;
        float: none;

    }

    a {
        color: white;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        text-decoration: none;
    }

    div.titel {
        color: white;

    }

    header {
        text-align: center;
        background-color: gray;
    }

    nav {
        display: inline;
        background-color: gray;
        padding: 10px;
        margin-top: 10px;
        width: 100%;
    }

    h3 {
        color: grey;
    }

    h4 {
        color: grey;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {

    }

    li a {
        display: block;
        color: grey;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        background-color: white;
    }

    a:hover {
        background-color: black;
    }

    article.t2, article.t3 {
        text-align: center;
        margin: auto;
        max-width: 400px;
    }

    article.P {
        float: left;
    }

    article.N {
        float: right;
    }

    article.C {
        text-align: center;
        border-color: white;
    }

}